<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StefanParagon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            StefanParagon
        </div>
        <nav class="menu">
            <label for="menu-toggle" class="menu-icon">☰</label>
            <input type="checkbox" id="menu-toggle">
            <ul class="menu-list">
                <li><a href="{{ url_for('scan') }}">Skanuj</a></li>
                <li><a href="{{ url_for('export_data') }}">Eksportuj dane</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        // Zamykaj menu po kliknięciu w link
        document.querySelectorAll('.menu-list a').forEach(link => {
            link.addEventListener('click', () => {
                document.getElementById('menu-toggle').checked = false;
            });
        });
    </script>
</body>
</html>
